@import 'jeet'
@import 'rupture'
@import 'typographic'

@import reset

@import vars

@import forms

@import nav


clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

body
	color: black
	font-family: 'Roboto Condensed', sans-serif
  background url(/img/bg.png)  
  padding-top 60px 

p
  margin 15px 0
  line-height 1.5

.btn
  border none
  border-radius 4px
  background #333
  color #FFF  
  padding 10px 20px
  font-size 1.4rem
  cursor pointer
  font-family 'Roboto Condensed', sans-serif
  box-shadow sh-mid
  transition all 0.2s ease
  &.large
    font-size:1.6rem
    padding 15px 40px 
  img
    position: relative
    bottom: -4px
    left: -3px
    transition all 0.3s ease
  &:hover
    box-shadow sh-high
    img
      bottom: -4px
      left: -6px    
  &.primary
    background freeze 
    &:hover
      background freeze - 20 
  &.delete
    background burner 
    > img 
      transform rotate(45deg)
    &:hover
      background burner - 20 
  &.save
    background footwork 
    &:hover
      background footwork - 20
        

header
  line-height 60px
  position absolute
  top 0
  width 100%  
  height 60px  
  background black
  color #FFF 
  z-index header  
  box-shadow sh-high 
  .logo
    text-transform uppercase
    font-weight 500 
    float left
  cf() 

.container
  width 100% 
  padding: 60px 2.5%
  margin 0 
  cf()
  +above(4)
    padding: 60px 5%  
  +above(5)
    padding: 60px 10%   

.page-intro
  cf()
  >
    .btn
      float right
      margin-top: 58px
      

.page-title
  font-size 3rem
  margin 40px 0 
  float left




.moves
  column(1/1)
  &:nth-child(even)
    margin-right 0 
  > h3
    font-size 2rem
    text-transform capitalize 
    margin 1rem 0 .8rem 
  +above(4)
    column(1/2)

.move
  display block
  overflow hidden
  padding 1rem 1.2rem
  background #FFF 
  box-shadow sh-mid
  border-radius 2px
  margin-bottom 10px 
  position relative
  transition all 0.3s ease
  .edit-controlls, .use-move
    height 100% 
    width 10px
    overflow hidden
    position absolute
    left 0
    top 0
    transition all 0.3s ease
    img
      opacity 0 
      padding 10px
      transition opacity 0.3s ease
      top 15px
      position relative
  .use-move
    img
      top 7px
    span
      position absolute
      top 20px
      left 40px  
  h4
    font-size: 1.4rem
  &:hover
    padding 1rem 1.2rem 1rem 50px
    .edit-controlls, .use-move
      width 40px
      cursor pointer
      box-shadow 0 0 2px rgba(0, 0, 0, 0.12) inset,0 2px 4px rgba(0, 0, 0, 0.24) inset  
      img
        opacity 0.3 
      &:hover
        img
          opacity 1    
    .use-move
      width 200px     
    .move-value span
      background-position -100% 0
  &.toprock
    .edit-controlls, .use-move
      background toprock 
      &:hover
        background toprock - 20       
  &.footwork
    .edit-controlls, .use-move
      background footwork
      &:hover
        background footwork - 20       
  &.go-down
    .edit-controlls, .use-move
      background go-down
      &:hover
        background go-down - 20       
  &.burner
    .edit-controlls, .use-move
      background burner  
      &:hover
        background burner - 20                  
  &.power
    .edit-controlls, .use-move
      background power
      &:hover
        background power - 20       
  &.freeze
    .edit-controlls, .use-move
      background freeze
      &:hover
        background freeze - 20
  &.ng-enter,
  &.ng-leave
    transition 0.5s linear all
  &.ng-enter,
  &.ng-leave.ng-leave-active
    opacity 0
  &.ng-leave,
  &.ng-enter.ng-enter-active
    opacity 1 
  cf() 
  
.move-value
  display inline-block
  float right
  text-align center
  span 
    text-align center
    background #fff
    background url(/img/bg.png) no-repeat
    box-shadow 0 0 2px rgba(0, 0, 0, 0.12) inset,0 2px 4px rgba(0, 0, 0, 0.24) inset
    text-shadow sh-mid
    color black + 40
    border-radius 50%
    width 40px
    height 40px 
    display block
    line-height 20px 
    padding 10px 
    font-size 1.4rem
    margin-bottom 4px 
    font-weight 300
    font-style italic
    transition all 0.3s ease     
    
    
     

.details
  a
    margin-top 10px 
    display block
    text-decoration none
    color #333 
    img
      position relative
      top 6px
      margin-right 10px 

.info-box
  padding 3%
  background #333
  color #FFF

.timer
  margin 0 0 40px
  box-shadow sh-mid
  background #FFF
  font-size 246px
  padding 60px  
  text-align right  


.container[ui-view]
  min-height 800px


.ui-view-container 
  position: relative


[ui-view].ng-enter, [ui-view].ng-leave 
  position: absolute
  left: 0
  right: 0
  transition:all .5s ease-in-out


[ui-view].ng-enter 
  transform:translate3d(-100%, 0, 0)
  opacity 0 

[ui-view].ng-enter-active 
  transform:translate3d(0, 0, 0)
  opacity 1

[ui-view].ng-leave  
  transform:translate3d(0, 0, 0)
  opacity 1

[ui-view].ng-leave-active 
  transform:translate3d(100%, 0, 0)
  opacity 0

.video-modal
  position fixed
  text-align center
  width 100%
  height 100%
  padding-top 10% 
  top 0
  left 0
  background rgba(0, 0, 0, 0.8)
  z-index 10
  transition all ease 0.5s
  &.ng-hide
    opacity:0;
    .video-container
      opacity:0;
      transform scale(0)
  .video-container
    display inline-block
    position relative
    line-height 0
    box-shadow 1px 1px 8px rgba(#000, 0.5) 
    transform-origin 20% 40%
    transform scale(1)
    transition all ease 0.5s
    .close-modal
      position absolute
      right 0
      top 0 
      background rgba(0, 0, 0, 0.9)
      cursor pointer
      img
        display block
        width 50px 
        transform rotate(45deg)
        
