// VARS
black = #333
toprock = #2ecc71
go-down = #8e44ad
footwork = #27ae60
freeze = #3498db
power = #e74c3c
burner = #c0392b


// SHADOWS

sh-high = 0 0 4px rgba(0, 0, 0, 0.14),0 4px 8px rgba(0, 0, 0, 0.28)
sh-mid = 0 0 2px rgba(0, 0, 0, 0.12),0 2px 4px rgba(0, 0, 0, 0.24)

// Z-INDEXS
lowest = 0
middle = 5
highest = 10

header = 6
modal = 8

behind = -1