body {
  color: #333;
}
.container {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 25.75%;
  margin-right: 3%;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
.container:last-child {
  margin-right: 0%;
}
