<div ng-controller="MovesCtr as movesc">
	<div class="page-intro">
		<h1 class="page-title">Tora's Move Book</h1>
		<button class="btn" ng-class="{ 'primary': !newMove, 'delete': newMove }" ng-click="newMove = !newMove"><img src="/img/add-white.svg" alt="">{{movesc.btnToggle(newMove)}}</button>
	</div>
	<form class="add-move" ng-show="newMove">
		<h3>New Move</h3>
		<label>
			Name:
			<input ng-model="moveBody" type="text">
		</label>
		<label>
			Type:
			<select ng-model="moveType" id="">
				<option value="toprock">Toprock</option>
				<option value="go-down">Go Down</option> 
				<option value="footwork">Footwork</option>
				<option value="power">Power</option>
				<option value="freeze">Freeze</option>
				<option value="burner">Burner</option>
			</select>
		</label>
		<label>
			Value:
			<input type="range" ng-model="moveValue" min="1" max="10">{{moveValue}}
		</label>
		<label>
			Clip:
			<input type="text" ng-model="moveClip" placeholder="https://www.youtube.com/watch?v=Ar6OYy541RU&list=UUyU5wkjgQYGRB0hIHMwm2Sg">
		</label>			
		<button class="btn save" ng-click="movesc.addMove()"><img src="/img/save-white.svg" alt="">Save New Move</button>
	</form>

	<div class="moves-wrapper">
		<div class="moves" ng-repeat="type in ['toprock', 'go-down', 'footwork', 'power', 'freeze', 'burner' ]">
			<h3>{{type}}</h3>
			<move class="move {{move.type}}" ng-repeat="move in movesc.moves | orderBy: '-date' | objectByKeyValFilter:'type':type" />
		</div>
	</div>
	<div class="video-modal" ng-show="movesc.videoModal">
		<div ng-style="{ 'transform-origin' : movesc.modalOrigin }"  class="video-container">
			<span class="close-modal">
				<img ng-click="movesc.modalToggle()" src="/img/add-white.svg" alt="close modal">
			</span>
			<youtube-video video-url="movesc.modalVideo"></youtube-video>
		</div>
	</div>
</div>
