<% layout('layout') -%>
	<div class="container">
		<h2>Master Your Craft with Bboy Tools</h2>
		<div class="features">
			<article>
				<h3>Organize Your Moves</h3>
				<p>
					Create your move book and organize your moves. Rate their effectiveness and grow your arsenal.
				</p>
			</article>
			<article>
				<h3>Always Be Prepared</h3>
				<p>
					Battle Mode keeps track of what moves you are battling with. Never forget a move again.
				</p>
			</article>			
			<article>
				<h3>Training Tools</h3>
				<p>
					Take the 30/30's test and see how many 30 second rounds you can last.
				</p>
			</article>				
		</div>
	</div>
