<% layout('layout') -%>
	<div class="container">
		<h1 class="page-title">Sign In</h1>
		    <% if (message.length > 0) { %>
		        <div class="alert alert-danger"><%= message %></div>
		    <% } %>

		    <!-- LOGIN FORM -->
		    <form action="/login" method="post">
	        	<label>Email</label>
	            <input type="text" class="form-control" name="email" required>
	        	<label>Password</label>
	            <input type="password" class="form-control" name="password" required>

		        <button type="submit" class="btn btn-warning btn-lg">Login</button>
		    </form>

		    <hr>

		    <p>Need an account? <a href="/signup">Signup</a></p>			
	</div>