html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
input[type="text"],
input[type="password"] {
  transition: 0.2s all ease;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="text"]:valid,
input[type="password"]:valid,
input[type="text"]:invalid,
input[type="password"]:invalid {
  outline: none;
}
form {
  background: #fff;
  padding: 40px;
  position: relative;
  box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  font-size: 1.4rem;
}
form h3 {
  margin-bottom: 30px;
}
form label {
  display: block;
  margin: 0 0 10px;
  transition: 0.2s all ease;
}
form input {
  font-size: 1.4rem;
  display: block;
  width: 40%;
}
form input[type="text"],
form input[type="password"] {
  border: none;
  border-bottom: 3px solid #ccc;
  margin-bottom: 30px;
}
form .close {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 150px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #3498db;
  box-shadow: 0 0 0 5px rgba(52,152,219,0.3);
  margin-top: -8px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
form.add-move {
  max-height: 500px;
  overflow: hidden;
  transition: all ease 0.5s;
}
form.add-move.ng-hide {
  padding: 0 40px;
  max-height: 0;
  opacity: 0;
}
nav {
  float: right;
}
nav > ul > li {
  display: inline-block;
  position: relative;
}
nav > ul > li:hover > a {
  background: #666;
  border-bottom: 5px solid #3498db;
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
}
nav > ul > li > ul {
  z-index: -1;
  position: absolute;
  text-align: right;
  right: 0;
  top: 60px;
  width: 150px;
  background: #333;
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
}
nav > ul > li > ul li {
  width: 100%;
}
nav > ul > li > ul li:hover > a {
  background: #666;
  border-bottom: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
}
nav > ul > li > ul a {
  border-bottom: none;
  width: 100%;
}
nav a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0 20px;
  transition: all 0.2s ease;
}
nav a.active {
  background: #666;
  border-bottom: bb;
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
}
nav li {
  cursor: pointer;
}
body {
  color: #333;
  font-family: 'Roboto Condensed', sans-serif;
  background: url("/img/bg.png");
  padding-top: 60px;
}
p {
  margin: 15px 0;
  line-height: 1.5;
}
.btn {
  border: none;
  border-radius: 4px;
  background: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.4rem;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  transition: all 0.2s ease;
}
.btn.large {
  font-size: 1.6rem;
  padding: 15px 40px;
}
.btn img {
  position: relative;
  bottom: -4px;
  left: -3px;
  transition: all 0.3s ease;
}
.btn:hover {
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
}
.btn:hover img {
  bottom: -4px;
  left: -6px;
}
.btn.primary {
  background: #3498db;
}
.btn.primary:hover {
  background: #2084c7;
}
.btn.delete {
  background: #c0392b;
}
.btn.delete > img {
  transform: rotate(45deg);
}
.btn.delete:hover {
  background: #ac2517;
}
.btn.save {
  background: #27ae60;
}
.btn.save:hover {
  background: #139a4c;
}
header {
  line-height: 60px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background: #333;
  color: #fff;
  z-index: 6;
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
  *zoom: 1;
}
header .logo {
  text-transform: uppercase;
  font-weight: 500;
  float: left;
}
header:before,
header:after {
  content: '';
  display: table;
}
header:after {
  clear: both;
}
.container {
  width: 100%;
  padding: 60px 2.5%;
  margin: 0;
  *zoom: 1;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
@media only screen and (min-width: 800px) {
  .container {
    padding: 60px 5%;
  }
}
@media only screen and (min-width: 1050px) {
  .container {
    padding: 60px 10%;
  }
}
.page-intro {
  *zoom: 1;
}
.page-intro:before,
.page-intro:after {
  content: '';
  display: table;
}
.page-intro:after {
  clear: both;
}
.page-intro > .btn {
  float: right;
  margin-top: 58px;
}
.page-title {
  font-size: 3rem;
  margin: 40px 0;
  float: left;
}
.moves {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
.moves:before,
.moves:after {
  content: '';
  display: table;
}
.moves:after {
  clear: both;
}
.moves:last-child {
  margin-right: 0%;
}
.moves:nth-child(even) {
  margin-right: 0;
}
.moves > h3 {
  font-size: 2rem;
  text-transform: capitalize;
  margin: 1rem 0 0.8rem;
}
@media only screen and (min-width: 800px) {
  .moves {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .moves:before,
  .moves:after {
    content: '';
    display: table;
  }
  .moves:after {
    clear: both;
  }
  .moves:last-child {
    margin-right: 0%;
  }
}
.move {
  overflow: hidden;
  padding: 1rem 1.2rem;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  border-radius: 2px;
  margin-bottom: 10px;
  position: relative;
  transition: all 0.3s ease;
  *zoom: 1;
}
.move .edit-controlls,
.move .use-move {
  height: 100%;
  width: 10px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}
.move .edit-controlls img,
.move .use-move img {
  opacity: 0;
  padding: 10px;
  transition: opacity 0.3s ease;
  top: 15px;
  position: relative;
}
.move .use-move img {
  top: 7px;
}
.move .use-move span {
  position: absolute;
  top: 20px;
  left: 40px;
}
.move h4 {
  font-size: 1.4rem;
}
.move:hover {
  padding: 1rem 1.2rem 1rem 50px;
}
.move:hover .edit-controlls,
.move:hover .use-move {
  width: 40px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0,0,0,0.12) inset, 0 2px 4px rgba(0,0,0,0.24) inset;
}
.move:hover .edit-controlls img,
.move:hover .use-move img {
  opacity: 0.3;
}
.move:hover .edit-controlls:hover img,
.move:hover .use-move:hover img {
  opacity: 1;
}
.move:hover .use-move {
  width: 200px;
}
.move:hover .move-value span {
  background-position: -100% 0;
}
.move.toprock .edit-controlls,
.move.toprock .use-move {
  background: #2ecc71;
}
.move.toprock .edit-controlls:hover,
.move.toprock .use-move:hover {
  background: #1ab85d;
}
.move.footwork .edit-controlls,
.move.footwork .use-move {
  background: #27ae60;
}
.move.footwork .edit-controlls:hover,
.move.footwork .use-move:hover {
  background: #139a4c;
}
.move.go-down .edit-controlls,
.move.go-down .use-move {
  background: #8e44ad;
}
.move.go-down .edit-controlls:hover,
.move.go-down .use-move:hover {
  background: #7a3099;
}
.move.burner .edit-controlls,
.move.burner .use-move {
  background: #c0392b;
}
.move.burner .edit-controlls:hover,
.move.burner .use-move:hover {
  background: #ac2517;
}
.move.power .edit-controlls,
.move.power .use-move {
  background: #e74c3c;
}
.move.power .edit-controlls:hover,
.move.power .use-move:hover {
  background: #d33828;
}
.move.freeze .edit-controlls,
.move.freeze .use-move {
  background: #3498db;
}
.move.freeze .edit-controlls:hover,
.move.freeze .use-move:hover {
  background: #2084c7;
}
.move.ng-enter,
.move.ng-leave {
  transition: 0.5s linear all;
}
.move.ng-enter,
.move.ng-leave.ng-leave-active {
  opacity: 0;
}
.move.ng-leave,
.move.ng-enter.ng-enter-active {
  opacity: 1;
}
.move:before,
.move:after {
  content: '';
  display: table;
}
.move:after {
  clear: both;
}
.move-value {
  display: inline-block;
  float: right;
  text-align: center;
}
.move-value span {
  text-align: center;
  background: #fff;
  background: url("/img/bg.png") no-repeat;
  box-shadow: 0 0 2px rgba(0,0,0,0.12) inset, 0 2px 4px rgba(0,0,0,0.24) inset;
  text-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  color: #5b5b5b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  line-height: 20px;
  padding: 10px;
  font-size: 1.4rem;
  margin-bottom: 4px;
  font-weight: 300;
  font-style: italic;
  transition: all 0.3s ease;
}
.details a {
  margin-top: 10px;
  display: block;
  text-decoration: none;
  color: #333;
}
.details a img {
  position: relative;
  top: 6px;
  margin-right: 10px;
}
.info-box {
  padding: 3%;
  background: #333;
  color: #fff;
}
.timer {
  margin: 0 0 40px;
  box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  background: #fff;
  font-size: 246px;
  padding: 60px;
  text-align: right;
}
.container[ui-view] {
  min-height: 800px;
}
.ui-view-container {
  position: relative;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}
[ui-view].ng-enter {
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}
[ui-view].ng-enter-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
[ui-view].ng-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
[ui-view].ng-leave-active {
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}
